body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Play', sans-serif, monospace;
  box-sizing: border-box;
  background-image: url('../src/assets/wall.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}