.education-fields{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.education-fields > .field-labels{
    width: 25%;
    height: auto;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 600;
}
.education-fields > .field-text{
    color: gray;
    width: 75%;
    height: auto;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
}
