.profile-content-wrapper{
    display: grid;
    width: 100%;
    height: 65vh;
    margin-top: 7%;   
}

.profile-content-wrapper > .profile-content-container{
    display: grid;
    margin: auto;
    width: 80%;
    height: 100%;
    grid-template-columns: 25% auto;
    background-color: white;
    border-radius: 20px;
}
.profile-content-container > .profile-drawer {
    border-right: 2px solid gray;
}