.profile-detail-container{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 15.625rem;
    margin:25px 50px 0px 20px;
}
.profile-detail{
    text-align: center;
}
.profile-detail > .name{
    color: black;
    font-size: 65px;
    font-family: fantasy;
}
.profile-detail > .email{
    color: black;
    font-family: fantasy;
    font-size: 40px;
}
.profile-detail > .phone{
    color: black;
    font-family: fantasy;
    font-size: 40px;
}