.profile-container{
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border: 0 solid transparent;
    border-radius: 10%;
    margin:25px 25px 0px 50px;

}

.profile-picture{
    border-radius: 10%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 8px rgb(58, 49, 33)
}
.upload-button{
    display: block;
    text-align: center;
    margin: 1rem 0 0 0;
}

img{
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 5px;
    overflow: hidden;
    padding: 5px;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
[type="file"] + label {
    background-color: rgb(39, 34, 34);
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 1rem ;
}
    
  /* [type="file"]:focus + label, */
[type="file"] + label:hover {
    background-color: #f15d22;
}
    
[type="file"]:focus + label {
    outline: none;
}