.profile-detail-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7.625rem;
    margin:25px 0px 0px 0px;
}
.profile-detail{
    text-align: center;
}
.profile-detail > .name{
    color: black;
    font-size: 6vw;
    font-family: fantasy;
}
.profile-detail > .email{
    color: black;
    font-family: fantasy;
    font-size: 1.5vw;
}
.profile-detail > .phone{
    color: black;
    font-family: fantasy;
    font-size: 1.5vw;
}