@import './breakpoints.scss';

.skills-wrapper {
    display: grid;
    grid-auto-rows: auto;
    @include smart-phone{
        grid-template-columns: repeat(auto-fill,88px);
    }
    @include tablet-portrait{
        grid-template-columns: repeat(auto-fill,88px);
    }
    @include tablet-landscape{
        grid-template-columns: repeat(auto-fill,100px);
    }
    @include desktop{
        grid-template-columns: repeat(auto-fill,120px);
    }
    @include large-desktop{
        grid-template-columns: repeat(auto-fill,120px);
    }
    .bubble{
        background: #4bc8ee;
        border-radius: 50%;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        margin:  auto auto 10px auto;
        position: relative;
        animation: bubblesFade 2s linear 1 ;
        opacity: 1;
        @include smart-phone{
            width: 70px;
            height: 70px;
        }
        @include tablet-portrait{
            width: 80px;
            height: 80px;        
        }
        @include tablet-landscape{
            width: 90px;
            height: 90px;       
        }
        @include desktop{
            width: 100px;
            height: 100px;
        }
        @include large-desktop{
            width: 100px;
            height: 100px;        
        }
        .text{
            display: block;
            color: black;
            margin: auto;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 38%;
            @include smart-phone{
                font-size: 12px;
            }
            @include tablet-portrait{
                font-size: 12px;       
            }
            @include tablet-landscape{
                font-size: 14px;      
            }
            @include desktop{
                font-size: 16px;
            }
            @include large-desktop{
                font-size: 16px;    
            }
        }
    }
    
    .bubble:hover {
        background: #156d88;
        cursor: pointer;
    }
}

@keyframes bubblesFade {     
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


